@model Lyncas.Api.Models.Pessoa
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="~/css/dashboard.css">

    <!-- fontes -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu:wght@300;500;700&display=swap" rel="stylesheet">

    <!-- JavaScript e icones -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <!-- header -->
    <div id="anchorHeader">
        <p>User <span class="boldWords">Management</span></p>
        <button id="addNewUser" onclick=onAddNewUserClick()>
            <i class="fa fa-plus-circle" aria-hidden="true"></i>
            Add New User
        </button>
        <button id="exportToExcel">
            <i class="fa fa-file" aria-hidden="true"></i>
            Export to Excel
        </button>
    </div>
    <!-- main -->
    <div id="anchorBody">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Date Created</th>
                    <th scope="col">Role</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody id="tableBody">
                @{ foreach (var p in ViewBag.listaPessoas)
                    {
                        <tr>
                            <th>@p.Id</th>
                            <th>
                                <img src="@p.Imagem" alt="@p.Nome" />
                                @p.Nome
                            </th>
                            <th>@p.DataCriada</th>
                            <th>@p.Ocupacao</th>
                            <th>
                                <i class="fa fa-circle" aria-hidden="true" id="statusIcon" style="font-size: 12px;color: @p.GetColorStatusCode();"></i>
                                @p.Status
                            </th>
                            <th>
                                <button id="@p.Id" onClick=onCogButtonClick() class="cogIcon @p.Id" >
                                    <i class="fa fa-cog @p.Id" aria-hidden="true" style="color:#22bee6;"></i>
                                </button>
                                <button id="@p.Id" onClick=onCancelButtonClick() class="cancelIcon @p.Id">
                                    <i id="@p.Id" class="fa fa-times-circle @p.Id" aria-hidden="true" style="color:#dd405a;"></i>
                                </button>
                            </th>
                        </tr>
                    }
                }
            </tbody>
        </table>
        <!-- parte que mostra as páginas -->
        <div id="pageCounter">
            <p></p>Showing <span class="boldWords" id="currentEntrie"></span> out of <span class="boldWords" id="totalAmount"></span> entries</p>
            <button> Next </button>
            <button id="5button"> <span>5</span> </button>
            <button id="4button"> <span>4</span> </button>
            <button id="3button"> <span>3</span> </button>
            <button id="2button"> <span>2</span> </button>
            <button id="1button"> <span>1</span> </button>
            <button> Previous </button>
        </div>
    </div>
</body>
</html>
<script>
    function onCogButtonClick() {
        console.log("opa");
    }

    function onCancelButtonClick() {
        console.log("hello");
    }
</script>